library/Amster
library/core
library/externals
public/dojo
public/.htaccess
vendor
.buildpath
.project
.settings
*.orig
en
*.komodoproject
/nbproject
.idea
tests/log/*.log
deployment.properties
deployment.xml
src/config/autoload/local.php
*.iml

tests/phpunit.xml